html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'courier', 'sans-serif'
}

canvas {
  display: block;
 
}

iframe {
  height: 100vh;
}


#sc-widget {

  height: 100vh;
}
